// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; // default left column enhancer, works with inline, showcase and immersive weighting
// @import "full_immersive_enhancer"; // full-width enhancer, to be used with immersive weighting. Removes left colum, sets 100vw atom width at any breakpoint

.interactive-atom {
    margin: 0;
    padding: 0;
}
// uncomment to test
// .gv-wrapper {
//     height: 400px;
//     background: #121212;
//     color: white;
//     border-top: 1px solid #dcdcdc;
//     border-bottom: 1px solid #dcdcdc;
// }


/*----- App fixes -----*/
.ios, .android {
    .element--immersive {
        @include mq($until: tablet) {
            width: 100vw !important;
            position: relative;
            left: 50% !important;
            right: 50% !important;
            margin-left: -50vw !important;
            margin-right: -50vw !important;
        }
        @include mq(tablet) {
            transform: translateX(-20px);
            width: calc(100% + 60px);
        }
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}

// Header image inject

.content__headline, .headline {

  @include fs-titlepiece(1);
  margin-top: 205px;

@include mq(mobileMedium) {
     
      margin-top: 280px;
  }
  @include mq(mobileLandscape) {
      margin-top: 350px;
  }
  @include mq(desktop) {
      @include fs-titlepiece(2);
      margin-top: 360px;
  }
}

.article__header {
  background: transparent !important;

  &::before {
      margin-left: 0 !important;
  }
}

article .content--interactive::before, .article__header::before {
  //z-index: -1;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  clear: both;
  background-image: url('<%= path %>/header/mobile_header.jpg');
  width: 100%;
  margin-left: -10px;
  height: 220px;
  background-position: center bottom;
  background-color: #eaeaea;

  @include mq(mobileMedium) {
    height: 290px;
  }

  @include mq(mobileLandscape) {    
    height: 350px;
    margin-left: -20px;
  }

  @include mq(tablet) {
    background-size: auto 100%;
    background-image: url('<%= path %>/header/desktop_header.jpg');
  }

  @include mq(leftCol) {
      background-image: url('<%= path %>/header/wide_header.jpg');
  }
}



.interactive-atom {
  margin: 0;
  padding: 0;
}
.interactive-body {
  position: relative;
  p {
    @include fs-bodyCopy(2);
    color: $neutral-7;
  }
}

.interactive-atom {
  h3 {
    @include fs-titlepiece(1);
    margin-bottom: 20px;
    margin-top: 8px;
    font-weight: bold;
    font-style: normal;
    font-size: 47px;
  }

  h4 {
    @include fs-headline(4);
    font-weight: 200;
    font-style: italic;
    padding-bottom: 48px;
    @include mq(mobile) {
      @include fs-headline(4);
      font-weight: 200;
    }
    @include mq(tablet) {
      @include fs-headline(4);
      font-weight: 200;
      font-size: 30px;
      line-height: 38px;
      padding-bottom: 24px;
    }
    @include mq(desktop) {
      @include fs-headline(4);
      font-weight: 200;
    }
  }
}


.section {
  &-copy {
    max-width: 620px;
    order: 2;
    margin-right: 20px;

    @include mq(mobile) {
        padding-left:12px;
    }
    
    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
      padding-left:0px;
    }
  }
  &-image-wrapper {
    width: 100%;
    max-width: 980px;
    height: auto;
    padding-top: 6px;
    order: 1;

    @include mq(mobile) {
        padding-left:12px;
    }
    
    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }
  &-image {
    width: 100%;
    height: auto;
  }
  &-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 0px;
      background-color: $neutral-86;
    }
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      background-color: $neutral-86;
    }
  }
  
}

#gv-buttons-menu button {
    display: inline-block;
    color: #fff;
    background-color: #121212;
    font-size: 12px;
    line-height: 115%;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 600;
    border-radius: 44px;
    padding: 8px 10px;
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border:0;

    @include mq(mobileLandscape) {
      font-size: 14px;
      padding: 10px 20px;
      margin-right: 10px;
  }
}

.gv-quicknav-left {
    font-size: 12px;
    display: block;
    color: #fff;
    margin: 12px 0 48px 0;
}

.gv-quicknav-left span {
    display: block;
    font-family: "Guardian Text Sans Web",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 4px;
    color: #121212;
}
.gv-quicknav-left select {
    color: #fff;
    height: 32px;
    outline: 0;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #121212 url(https://interactive.guim.co.uk/atoms/2020/07/mental-wellbeing/assets/v/1595512149852/images/arrow.svg) no-repeat 93% 50%;
        background-size: auto;
    background-size: 20px auto;
    padding: 2px 15px;
        padding-right: 15px;
    font-family: "Guardian Text Sans Web",Helvetica,Arial,sans-serif;
    cursor: pointer;
    border: 1px solid #121212;
    width: 260px;
    padding-right: 0;
    font-weight: 700;
    font-size: 16px;
    transform-origin: top left;
    transform: scale(.875);
}

