<div class="section-header"> 
     <div class="section-copy"> 
	      <h3>Working from home</h3> 
	      <h4>Nearly 2 years on from lockdown and X% of people are still working at least some of the time from home. Data shows we travel out of our local areas less and take less public transport. Experts say the last two years have accelerated a pre-existing trend and wfh is here to stay.</h4> 
	</div> 
	<div class="section-image-wrapper"> 
	      <img class="section-image" src="<%= path %>/loneliness.png" alt=""> 
    </div> 
</div>